$blue: #42A5F5;

$textColor: #4A442A;
$faintGrey : #d3d3d3;
$red: #ff0000;
$orange: #ff6600;
$green:#009933;
$black: #000000;
$bloodBurst: #FF4B4B;
$bloodOrgan: #630E10;
$blueSparkle: #0076FF;
$chickenComb: #DE2525;
$deepLilac: #9B59B6;